body {
    display: flex;
    flex-direction: column;
}
* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button{
    background-color: rgb(44, 201, 228);
    padding: 10px;
    float: left;
    border: none;
    margin-left: 3px;
    margin-bottom: 5px;
    border-radius: 10px;
}

h1 {
    line-height: 1.9;
}
.ProfileFarmer {
    width: 100%; 
    height: auto; 
    border-radius: 10px; 
    margin-bottom: 10px; 
}

.content-profile {
    width: 100%;
    padding: 10px; 
}

.ProductosStack_availables, img {
    margin: 5px;
    text-align: center;
    border: 1px solid #0e0101; 
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px; 
}
@media screen and (max-width: 390px) {
    button{
        background-color: rgb(44, 201, 228);
        padding: 10px;
        float: left;
        border: none;
        margin-left: 3px;
        margin-bottom: 5px;
        border-radius: 10px;
    }

    h1 {
        line-height: 1.9;
    }
    .ProfileFarmer {
        width: 100%; 
        height: auto; 
        border-radius: 10px; 
        margin-bottom: 10px; 
    }

    .content-profile {
        width: 100%;
        padding: 10px; 
    }

    .ProductosStack_availables, img {
        margin: 5px;
        text-align: center;
        border: 1px solid #0e0101; 
        display: flex;
        align-items: center;
        flex-direction: column;
        border-radius: 10px;
        padding: 10px; 
    }
}
