body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 20px;
    padding: 0;
}

.SalirContent a {
    display: flex;
    border-radius: 5px;
    width: 80px;
    background-color:#4caf50 ;
    color: white;
    padding: 10px;
    text-align: center;
}


form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333333;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="file"],
input[type="password"],
textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 16px;
}

input[type="checkbox"] {
    margin-right: 5px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

a {
    text-decoration: none;
    color: #4caf50;
}

a:hover {
    text-decoration: underline;
}
