<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>DelCamp</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/Styles/SearchProducts/SearchProducts.css">
    <title>Todos los Productos</title>
</head>
<body>
    <header>
        <div class="narvar">
            <ul>
                <a href="../Login-Register-User/user_login.html">Login/Register</a>
                <a href="../LoginRegister-Farmer/Login-Farmer.html">Campesino</a>
                <a href="../TypeS/AllCamp-DelCamp.html">Campesinos - DelCamp</a>
                <i class="fa-solid fa-bars"></i>
                <img id="IMAGENPROFILE" src="/image/logo.png" class="img-thumbnail" alt="..." width="40px">
            </ul>
        </div>
        <div class="container_carrusel_leading_page">
            <div class="carrusel_leanding_page">
                <div><img src="/image/Banner.png" alt=""></div>
            </div>
            <div class="logo"><img src="/image/logo.png" alt=""></div>
        </div>
        <div id="AdverCompra">

        </div>
    </header>
    <i id="Back" class="fa-solid fa-circle-arrow-left"></i>

    <div class="border">
        <h1>Buscar Productos</h1>
    </div>

    <div class="SearchInputDIV">
        <input id="SearchInput" type="text" placeholder="Buscar Productos">
        <button class="SearchBtn" onclick="PrintProducts()">Products</button>
    </div>

    <div id="AllProducts">

    </div>
    <footer>
        <div>
            <h3>Mayoristas Agrícolas S.A.</h3>
            <p>En delcamp Transformamos la distribución agrícola con soluciones sostenibles para un futuro más verde y rentable.</p>
            <h2>Delcamp</h2>
        </div>
        <div>
            <h2>Site map</h2>
            <ul>
                <li>Sobre nosotros</li>
                <li>Productos</li>
                <li>Servicios</li>
                <li>Contáctenos</li>
                <li>Blog</li>
                <li>Talento Delcamp</li>
            </ul>
        </div>
        <div>
            <h2>Legal</h2>
            <ul>
                <li>Politica de protección de datos</li>
                <li>FAQ</li>
            </ul>
        </div>
        <div>
            <h2>contáctanos</h2>
            <ul>
                <p>Autopista Medellín Km 3.4 Centro <br><br> bodega 36</p>
                <p>TEL: <b>+57 3026020183</b></p>
            </ul>

            <div class="redes">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-whatsapp"></i>
            </div>
        </div>
    </footer>
    <script>
        const Back = document.getElementById('Back').addEventListener('click', function () {
            console.log("Yes");
            window.history.back();
        })
        //me tira un error en la conexion del html con el js, revisar linea 24, Script src html
        //Print all the products
        function PrintProducts() {
            AllProduct().then((Print) => {
                let products = Print.AllProducts
                products.forEach((printpro) => {
                    let AllProductsContainer = document.getElementById("AllProducts");
                    AllProductsContainer.innerHTML += `
                    <div class="product">
    <img width="200px" src="${printpro.foto}" alt="${printpro.id}" />
    <div class="info">
        <h1>${printpro.nombre_producto}</h1>
    </div>
    <div class="info">
        <p>${printpro.descripcion}</p>
    </div>
    <div class="info">
        <p><strong>Precio: </strong>${printpro.precio}$</p>
    </div>
    <button class="Shopping">Comprar</button>
</div>
            `
                })
            })
        }

        function AllProduct() {
            //Print mesagge de reload products
            const mensajeCargando = document.createElement('div');
            mensajeCargando.textContent = 'Cargando productos...';
            document.getElementById("AllProducts").appendChild(mensajeCargando);

            return axios.get('https://render-delcamp.onrender.com/productos')
                .then((response) => {
                    let AllProducts = document.getElementById("AllProducts");
                    //Quitar mensaje cuando se resuleve la promesa
                    AllProducts.removeChild(mensajeCargando);
                    return { AllProducts: response.data };
                })
                .catch((error) => {
                    console.error("Error, download products: ", error);
                });
        }

        // Value for Input
        document.addEventListener('DOMContentLoaded', function () {
            const searchInput = document.getElementById('SearchInput');
            searchInput.addEventListener('input', function () {
                AllProduct().then((result) => {
                    let products = result.AllProducts;
                    let valueInput = searchInput.value.toLowerCase();
                    let filter = products.filter(product => {
                        return product.nombre_producto.toLowerCase().includes(valueInput) || product.descripcion.toLowerCase().includes(valueInput);
                    });

                    // Vaciar el contenido del contenedor antes de agregar los productos filtrados
                    let AllProductsContainer = document.getElementById("AllProducts");
                    AllProductsContainer.innerHTML = '';
                    filter.forEach(Search => {
                        AllProductsContainer.innerHTML += `
                        <div class="product">
                            <img width="200px" src="${Search.foto}" alt="${Search.id}" />
                            <div class="info">
                                <h1>${Search.nombre_producto}</h1>
                            </div>
                            <div class="info">
                                <p>${Search.descripcion}</p>
                            </div>
                            <div class="info">
                                <p><strong>Precio: </strong>${Search.precio}$</p>
                            </div>
                            <button class="Shopping">Comprar</button>
                        </div>
                `;
                    });
                });
            });
        });
    </script>
</body>

</html>