<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../Styles/LoginRegister-Farmer/LoginFarmer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/Styles/uRegister_style.css">
    <title>Acceder a tu cuenta</title>
</head>
<body>
    <i class="fa-solid fa-user"></i>

    <form id="loginForm">
        <label for="username">Correo Electrónico</label>
        <input type="gmail" id="gmail" name="username" placeholder="@sebas989">
        <label for="password">Contraseña</label>
        <input type="password" id="password" name="password" placeholder="********">
        <a href="../../Components/LoginRegister-Farmer/Register-Farmer.html">¿No tienes una cuenta?</a>
        <button type="submit">Acceder</button>
    </form>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="module" src="../../Scripts/LoginFarmer.js" defer></script>
</body>
</html>
