<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../Styles/LoginRegister-Farmer/RegisterFarmer.css">
    <title>Regístrate en DelCamp</title>
</head>
<body>
    <a href="#">Salir</a>

    <form action="">
        <label for="nombre">Nombre</label>
        <input type="text" id="nombre" name="nombre" placeholder="Tu nombre" required>

        <label for="apellido">Apellido</label>
        <input type="text" id="apellido" name="apellido" placeholder="Tu apellido" required>

        <label for="descripcion">Descripción del Vendedor</label>
        <textarea id="descripcion" name="descripcion" rows="4"
            placeholder="Breve descripción de lo que vendes"></textarea>

        <label for="productos">Productos que Ofreces</label>
        <input type="text" id="productos" name="productos" placeholder="Ej: Frutas, Verduras, Huevos, etc.">

        <label for="ubicacion">Ubicación</label>
        <input type="text" id="ubicacion" name="ubicacion" placeholder="Tu ubicación geográfica" required>

        <label for="correo">Correo Electrónico</label>
        <input type="email" id="correo" name="correo" placeholder="example@example.com" required>

        <label for="telefono">Teléfono</label>
        <input type="tel" id="telefono" name="telefono" placeholder="Tu número de teléfono">

        <input type="checkbox" id="terminos" name="terminos" required>
        <label for="terminos">Acepto los términos y condiciones</label>
        <a href="../../Components/LoginRegister-Farmer/Login-Farmer.html">¿Ya tienes una cuenta?</a>
        <button type="submit">Registrarse</button>
    </form>
</body>

</html>