<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../Styles/LoginRegister-Farmer/RegisterFarmer.css">
    <title>Regístrate en DelCamp</title>
</head>

<body>
    <div class="SalirContent">
        <a href="#">Salir</a>
    </div>

    <form action="">
        <label for="correo">Correo Electrónico</label>
        <input type="email" id="correo" name="correo" placeholder="example@example.com" required>

        <label for="correo">Nombre de la Finca</label>
        <input type="text" id="text" name="text" placeholder="Finca la Margarita" required>

        <label for="descripcion">Descripción del Vendedor</label>
        <textarea id="descripcion" name="descripcion" rows="4"
            placeholder="Breve descripción de lo que vendes"></textarea>

        <label for="ubicacion">Ubicación</label>
        <input type="text" id="ubicacion" name="ubicacion" placeholder="Tu ubicación geográfica" required>

        <label for="telefono">Teléfono</label>
        <input type="tel" id="telefono" name="telefono" placeholder="Tu número de teléfono">

        <label for="telefono">Contraseña</label>
        <input type="password" id="password" name="password" placeholder="*****">
        <img id="ProfileFarme" src="" alt="" srcset="">
        <input type="file" class="form-control" id="inputGroupFile02">
        <button id="btnSubir" onclick="Up_Image_Profile(event)">Subir</button>
        <input type="checkbox" id="terminos" name="terminos" required>
        <label for="terminos">Acepto los términos y condiciones</label>
        <a href="../../Components/LoginRegister-Farmer/Login-Farmer.html">¿Ya tienes una cuenta?</a>
        <button type="submit">Registrarse</button>
    </form>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- <script type="module" src="../../Scripts/RegisterFarmer.js"></script> -->
    <script>
        function Up_Image_Profile(event) {
            const correoValue = document.getElementById('correo').value;
            const nombreFincaValue = document.getElementById('text').value;
            const descripcionValue = document.getElementById('descripcion').value;
            const ubicacionValue = document.getElementById('ubicacion').value;
            const telefonoValue = document.getElementById('telefono').value;
            const passwordValue = document.getElementById('password').value;
            const terminosChecked = document.getElementById('terminos').checked;
    
            event.preventDefault();
            let input = document.getElementById('inputGroupFile02');
    
            if (input.files && input.files[0]) {
                let reader = new FileReader();
                reader.onload = function (e) {
                    const profileImageURL = e.target.result; // Guardar la dirección de la imagen
                    console.log(profileImageURL); // Mostrar la dirección de la imagen en la consola
    
                    axios.post('https://render-delcamp.onrender.com/campesinos', {
                        id: Math.floor(Math.random() * 100) + 1,
                        nombre_finca: nombreFincaValue,
                        ubicacion_finca: ubicacionValue,
                        correo: correoValue,
                        password: passwordValue,
                        telefono: telefonoValue,
                        descripcionFarmer: descripcionValue,
                        foto: profileImageURL, 
                        terminos: terminosChecked
                    })
                    .then((dataPost) => {
                        let userId = dataPost.data.id
                        console.log("Usuario registrado con ID:", userId);
                        window.location.href = '/Components/NewProductoFarmer/ProductoNew.html?NewUserId=' + userId;
                    })
                    .catch((error) => {
                        console.error('Error up Post', error);
                    });
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
    

</body>

</html>