<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DelCamp</title>
    <link rel="stylesheet" href="/Styles/infoDelCamp.css">
</head>
<body>
    <section>
        <div class="mision">
            <aside><p><h2 class="titulo"><b>Misión de DelCamp</b></h2> Facilitar la conexión directa entre <b>agricultores</b> y <b>consumidores</b>, eliminando intermediarios  y promoviendo <b>equidad</b>, <b>eficiencia</b> e <b>innovación</b> en el sector agrícola colombiano para un beneficio mutuo y sostenible.</p></aside>
            <img src="/image/misionDelCamp.png" alt="">
        </div>
        
        <div class="vision">
            <aside><p><h2 class="titulo"><b>Visión de DelCamp</b></h2> Convertirnos en la principal <b>fuente</b> de cambio, transformando el mercado agrícola colombiano  hacia la <b>transparencia</b>,<b>eficiencia</b> y <b>equidad</b> para todos los participantes, cultivando un <b>futuro</b> próspero y sostenible.</p></aside>
            <img src="/image/visionDelCamp.png" alt="">
        </div>

        <div class="history">
            <aside><p><h2 class="titulo"><b>Historia de DelCamp</b></h2> Nació de la visión de emprendedores comprometidos con el desarrollo agrícola, ofreciendo una solución <b>innovadora</b> para conectar directamente a <b>productores</b> y consumidores, fortaleciendo la <b>cadena</b> de suministro y promoviendo la <b>equidad</b>.</p>
            </aside>
            <img src="/image/historiaDelCamp.png" alt="">
        </div>
    </section>
</body>
</html>