<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DelCamp</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/Styles/uRegister_style.css">
</head>

<body>
        <h2>Registro</h2>
        <form id="userForm" class="user-form">
            <label for="user-name">Nombre</label>
            <input id="campoNombre" class="user-name" type="text" placeholder="@Pepito">
            <label for="user-lastname">Apellido</label>

            </div>
            <div id="notifications" class="notifications">
                <label for="notifications">Notificaciones</label>
            <div id="directMessage" class="direct-message">
                <label for="direct-message">Recibir mensajes directos</label>
        </form>
        <p>¿Ya tienes una cuenta? <a href="/Components/Login-Register-User/user_login.html">Inicia Sesión</a></p>
    </div>

</body>

</html>
