<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DelCamp</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />    <link rel="stylesheet" href="/Styles/uRegister_style.css">
    <link rel="stylesheet" href="/Styles/uRegister_style.css">
</head>
<body>
    <i class="fa-solid fa-circle-arrow-left"></i>
    <div class="container">
        <i class="fa-solid fa-user"></i>
        <h2>Registro</h2>
        <form class="user-form">
            <label for="user-name">Nombre</label>
            <input class="user-name" type="text" placeholder="@Pepito">

            <label for="user-lastname">Apellido</label>
            <input class="user-name" type="text" placeholder="@Pérez Pérez">
            
            <label for="user-type">Tipo de usuario</label>
                <select class="user-type" id="user-type">
                    <option disabled selected value="0">Tipo de usuario</option>
                    <option value="buyer">Campesino</option>
                    <option value="seller">Comprador</option>
                </select>
                <label for="user-lastname">Correo electrónico</label>
                <input class="user-name" type="email" placeholder="Ejemplo@gmail.com">
    
                <label for="user-lastname">Contraseña</label>
                <input class="user-name" type="text" placeholder="********">
            <div class="terms-conditions">
                <label for="terms-conditions">Aceptar términos y condiciones</label>
                <input type="checkbox" id="terms-conditions"/>
            </div>
            <div class="notifications">
                <label for="notifications">Notificaciones</label>
                <input type="checkbox" id="notifications"/>
            </div>
            <div class="direct-message">
                <label for="direct-message">Recibir mensajes directos</label>
                <input type="checkbox" id="direct-message"/>
            </div>
            
            <button class="btn-register" type="submit">Registrar</button>
            <button class="btn-cancel" type="reset">Cancelar</button>
        </form>
    </div>

    
    <script>
             document.getElementById("user-type").addEventListener("change", function() {
            let userType = this.value;
            console.log(userType);

            if (userType == "buyer") {
                window.location.href = "../LoginRegister-Farmer/Register-Farmer.html"
            } else if (userType == "seller") {
                //Colocar la ruta al Login de comprador
            }
           
        });
    </script>
</body>
</html>