/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(/image/fondo_productos.jpg);
    background-size: cover;
}


.slogan {
    font-size: 18px;
    color: #333;
}

.card {
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    
}

.card-title {
    font-size: 24px;
}

.input-group-text {
    background-color: #007bff; 
    color: #fff;
    border: none;
}


.form-control {
    margin-bottom: 10px;
}

#AddProducts {
    background: white;
    padding: 25px;
    width: 30%;
    margin: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
   
    
}


h1 {
    color: #fff;
    margin: 40px;
    margin-top: 80px;
    margin-left: 30%;
   
}


.card-body {
    padding: 20px;
}

.row {
    margin: 0px;
    padding: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.card-body p {
    margin-bottom: 20px;
}

 #EnviarALL{
  width: 50%;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 25%;
  border: solid 2px green;
  border-radius: 10px;
  background-color: green;
  color: white;
}

.logo_productos{
    position: absolute;
    width: 200px;
    height: 200px;
}
#btn_guardar{
   
    color: black;
   width: 100%;
   border: solid 2px green;
   border-radius: 0px;
   border-bottom-left-radius: 3px;
   border-bottom-right-radius: 3px;
}

