/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.border {
    width: 80%;
    margin: 20px auto;
    padding: 10px;
    border: 3px solid red;
    border-top: 5px solid blue;
    border-radius: 20px;
    text-align: center;
    animation: change-color 1.5s linear infinite;

}

@keyframes change-color {
    from {
        background: rgb(82, 101, 150);
    }

    /* Primer fotograma */
    to {
        background: rgb(95, 154, 95);
    }

    /* Segundo y último fotograma */
}

.border h1 {
    margin: 0;
}

label {
    display: block;
    margin-top: 20px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

#AllProducts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

#AllProducts img {
    border: 1px solid #ccc;
    float: 1 0 0;
}

#AllProducts h1,
#AllProducts h3,
#AllProducts h4 {
    margin: 5px 0;
}